<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Department Name</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="DepartmentName"
        placeholder="Enter Department Name">
    </div>

    <label class="col-sm-2 col-form-label">Department block</label>
    <div class="col-sm-10">
        <section class="example-section">
            <input class="example-margin " type="checkbox" [(ngModel)]="a"id="a" name="a" value="false" >
            <label for="a"> a</label>
            <input class="example-margin " type="checkbox" [(ngModel)]="b"id="b" name="b" value="false" >
            <label for="b"> b</label>
            <input class="example-margin " type="checkbox" [(ngModel)]="c"id="c" name="c" value="false" >
            <label for="c"> c</label>
            <input class="example-margin " type="checkbox" [(ngModel)]="d"id="d" name="d" value="false" >
            <label for="d"> d</label>
        </section>
    </div>
    <label class="col-sm-2 col-form-label">Department section</label>
    <div class="col-sm-10">
        <section class="example-section">
            <input class="example-margin" type="radio" [(ngModel)]="DepartmentSec"id="seca" name="sec" value="a">
            <label for="a"> a</label>
            <input class="example-margin" type="radio" [(ngModel)]="DepartmentSec"id="secb" name="sec" value="b">
            <label for="b"> b</label>
            <input class="example-margin" type="radio" [(ngModel)]="DepartmentSec"id="secc" name="sec" value="c">
            <label for="c"> c</label>
            <input class="example-margin" type="radio" [(ngModel)]="DepartmentSec"id="secd" name="sec" value="d">
            <label for="d"> d</label>
        </section>
    </div>
</div>



<button (click)="addDepartment()" *ngIf="dep.DepartmentId==0" class="btn btn-primary">
    Add
  </button>
<button (click)="updateDepartment()" *ngIf="dep.DepartmentId!=0" class="btn btn-primary">
    Update
</button>